.hidden {
  display: none;
}


a, button {
text-decoration: none;
cursor: pointer;
}
.body {
display: flex;
flex-flow: column nowrap;
align-items: center;
height: 100vh;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
background-image: linear-gradient(to bottom, #124d5a, hsla(190.83333333333331, 66.67%, 21.18%, 0.25));
background-clip: border-box;
}

.header {
height: 5vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center; 
margin-bottom: 2.5vh;
background: white;
}

.logo {
margin-top: 85px;
display: block;
height: 8vh;
font-size: 40px;
font-family: DM Sans;
text-align: center;
color: black;
}

.palette {
display: flex;
flex-flow: column nowrap;
width: 90vw;
max-width: 1800px;
height: 80vh;
background-color: hsla(0, 0.00%, 100.00%, 0.80);
border-radius: 2vw;
box-shadow: .1vw .1vw 1.5vw .1vw hsla(190.83333333333331, 66.67%, 21.18%, 0.48);
text-align: center;
}
.instruction {
padding-top: 10vh;
font-family: DM Sans;
font-size: min(3vw, 36px);
font-weight: 500;
text-align: center;
color: hsla(0, 0.00%, 20.00%, 1.00);
}
.upper {
display: flex;
margin-top: 4vh;
flex-wrap: nowrap;
justify-content: space-around;
height: 6vh;
}
.left {
padding-left: 10vw;
height: 12vh; 
}

.input-values {
height: 6vh;
border-style: solid;
border-width: 0.5px;
border-radius: 3vw;
background-color: transparent;
font-family: DM Sans;
color: hsla(0, 0.00%, 20.00%, 1.00);
font-size: min(2vh, 30px);
font-weight: 400;
background-clip: border-box;
object-fit: fill;
text-align: center;
flex-shrink: 1;
transition-property: all;
transition-duration: 300ms;
transition-timing-function: ease;
}

.input-values:focus {
  border-color: skyblue;
  outline: none;
}

.upload-photo {
display: flex;
align-items: center;
justify-content: center;
width: 20vw;
cursor: pointer;
}

.upload-photo:hover {
background-color: hsla(0, 0.00%, 20.00%, 1.00);
color: hsla(0, 0.00%, 100.00%, 1.00);
}

.right {
display: flex;
height: 12vh;
padding-right: 10vw;
}
.url {
display: flex;
justify-content: space-between;
width: 20vw;
height: 10vh;
}
.enter-url {
display: block;
width: 20vw;
}

.lower {
display: flex;
flex-grow: 5;
justify-content: space-between;
}

.left-margin {
  width: 10vw;
}
.previews {
display: flex;
flex-wrap: wrap;
flex-grow: 8;
justify-content: center;
}

.preview {
flex-shrink: 1;
display: block;
height: 15vh;
border-radius: 30px;
margin: 1vw 1% 1vw 1%;
background-clip: border-box;
object-fit: fill;
}

.analyze {
display: flex;
justify-content: center;
align-items: center;
width: 10vw;
}

.analyze-button {
display: block;
width: 5vw;
height: 5vw;
background-color: transparent;
background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612712ec7bdc1350d425d696_analyze%20button.svg");
background-position: 0px 0px;
background-size: contain;
transition-property: all;
transition-duration: 300ms;
transition-timing-function: ease;
}

.analyze-button:hover {
transform: translate(10%, 0px);
}

.lab {
  display: flex;
  align-items: center;
}

.visual {
height: 80vh;
display: flex;
width: 75%;
flex-flow: column nowrap;
align-items: center;
justify-content: center;
}

.results-heading {
height: 5vh;
padding-top: 2.5vh;
padding-bottom: 2.5vh;
font-family: DM Sans;
color: hsla(0, 0.00%, 20.00%, 1.00);
font-size: 4vh;
font-style: normal;
text-align: center;
}

.img-nav {
display: flex;
justify-content: center;
align-items: center;
height: 5vh;
}

.image-number {
display: flex;
align-items: center;
height: 2vw;
font-family: DM Sans;
font-size: min(2vw, 36px);
text-align: center;
}

.last, .next {
display: flex;
align-items: center;
height: 4vh;
width: 4vh;
border-style: solid;
border-width: 1px;
border-color: transparent;
border-radius: 3vw;
background-color: transparent;
background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612712ecf7057f1e84021b6d_last%20button.svg");
background-size: 4vh 4vh;
transition-property: all;
transition-duration: 300ms;
transition-timing-function: ease;
}

.next:hover {
background-color: hsla(0, 0.00%, 20.00%, 1.00);
background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612705f07bdc139887258b82_next%20button(white).svg");
color: hsla(0, 0.00%, 20.00%, 1.00);
}

.last:hover {
background-color: hsla(0, 0.00%, 20.00%, 1.00);
background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612705f074747984bc0827ee_last%20button(white).svg");
color: hsla(0, 0.00%, 100.00%, 1.00);
}

.last {
margin-right: 2vw;
background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612712ecf7057f1e84021b6d_last%20button.svg");
}

.next {
margin-left: 2vw;
background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612712ec46bf877bc0d63dfe_next%20button.svg");
}

.algae {
height: 40vw;
max-height: 800px;
flex-shrink: 1;
margin-bottom: 3vh;
margin-top: 3vh;
}

.show-pictures {
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
width: 50vw;
flex-shrink: 1;
font-size: 1.75vw;
}

.image-type {
height: 4vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-family: DM Sans;
margin-left: 5vw;
margin-right: 5vw;
padding: 9px 15px 9px 15px;
color: hsla(0, 100.00%, 0.00%, 1.00);
font-size: min(2vw, 30px);
border-radius: 2vw;
transition-property: all;
transition-duration: 300ms;
transition-timing-function: ease;
}

.image-type:hover {
background-color: hsla(0, 0.00%, 20.00%, 1.00);
color: hsla(0, 0.00%, 100.00%, 1.00);
}

.info {
display: flex;
width: 25%;
height: 80vh;
align-items: center;
justify-content: center;
border-radius: 2vw;
background-color: hsla(0, 0.00%, 100.00%, 0.50);
}

.we-found {
font-family: DM Sans;
font-size: min(4vw, 60px);
}

.stats-info {
display: flex;
justify-content: center;
width: 45vw;
height: 30vh;
}

.graphs {
display: flex;
justify-content: center;
width: 45vw;
height: 45vh;
}

.counts, .concentrations {
width: 45vw;
height: 75vh;
display: flex;
flex-flow: column, nowrap;
align-items: center;
}

.stats-section {
  display: flex;
  justify-content: space-around;
  height: 12.5vh;
  width: 45vw;
}

.stat-box {
  font-family: DM Sans;
  flex-shrink: 1;
  max-height: 10vh;
}

.graph {
  height: 35vh;
  max-width: 40vw;
}

.change-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.graph-button {
  font-family: DM Sans;
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
