

.csv-table {
  width: 90%;
  height: 85%;
  margin-top: 4vh;
  overflow-y: auto;
  table-layout: fixed;
}

thead, tfoot {
  font-weight: bold;
}

.csv-table, td {
  border: .1vh solid;
  font-family: DM Sans;
  font-weight: inherit;
  font-size: min(3vh, 2vw);
}

td {
  max-height: 5vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-0 {
  max-width: 26vw;
}

.data-1, .data-2, .data-3, .data-4 {
  max-width: 13vw;
}

tr {
  cursor: pointer;
  width: 100%;
}

.download-csv {
  width: 10vw;
  height: 5%;
  margin: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 1.5vh;
  border: .1vh solid;
  font-size: min(2vh, 1.2vw);
  font-family: DM Sans;
  color: black;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: ease;
}

.download-csv:hover {
  background-color: gray;
}