.header {
width: 100vw;
display: flex;
margin-bottom: 2.5vh;
background: white;
justify-content: center;
align-items: center;
}

.logo {
display: flex;
height: 1.5vh;
font-size: 4vh;
font-family: DM Sans;
text-align: center;
align-items: center;
color: black;
}

/*Tabs: make div underneath palette with class "tab-nav" with two "tab" buttons inside*/
.tab-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  border-radius: 2.5vh;
  box-shadow: .1vw .1vw 1.5vw .1vw hsla(190.83333333333331, 66.67%, 21.18%, 0.48);
  background-color: hsla(0, 0.00%, 100.00%, 0.80);
  }

.tab {
  font-family: DM Sans;
  font-size: min(2vh, 30px);
  font-weight: 500;
  color: #333;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0 10px;
}

.tab:after {
  content: "";
  position: absolute;
  background-color: #333;
  height: 0.3vh;
  width: 0%;
  left: 0;
  bottom: -1vh;
  transition: 300ms;
}

.tab:hover:after{
  width: 100%;
}

/*Overview page: in HTML change the class "stats-info" in counts and concentration stats' divs to "stats-section", I made the individual stats their own divs with class "stat" inside the "stat-section" div, add "image-type" buttons inside the "change-graph" div.*/
.main-overview {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
}

.counts, .concentrations {
width: min(40vw, 850px);
height: 80vh;
display: flex;
flex-flow: column;
align-items: center;
border-radius: 2vw;
background-color: hsla(0, 0.00%, 100.00%, 0.80);
}

.stats-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: DM Sans;
  font-weight: 500;
  font-size: min(2vw, 36px);
  height: 8vh;
  max-width: 800px;
  color: #333;
}

.stats-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25vh;
  margin-bottom: 2vh;
  max-width: 800px;
}

.stat {
  font-family: DM Sans;
  font-size: 2vh;
  text-align: left;
  width: 35vw;
  color: #333;
  max-width: 700px;
}

.graphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  max-width: 800px;
  height: 45vh;
  }

.graph {
  height: 30vh;
  width: 35vw;
  max-width: 700px;
}

.change-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 2vh;
  max-width: 800px;
}

/* Image type button: I added the 3 types of image buttons so you also know which type you're currently looking at, also indicated by the outline in CSS, and made sure the words don't stack. used this for the graphs as well */
.image-type {
height: 4vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-family: DM Sans;
margin-left: 5vw;
margin-right: 5vw;
padding: 9px 15px 9px 15px;
color: #333;
font-size: min(2vw, 30px);
white-space: nowrap;
border-radius: 2vh;
border: .3vh solid transparent;
transition-property: all;
transition-duration: 300ms;
transition-timing-function: ease;
}

.image-type:hover {
background-color: hsla(0, 0.00%, 20.00%, 1.00);
color: hsla(0, 0.00%, 100.00%, 1.00);
}

.image-type:focus {
  border-color: #333;
}