.hidden {
    display: none;
}
  
  
a, button {
  text-decoration: none;
  cursor: pointer;
}
.body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #124d5a, hsla(190.83333333333331, 66.67%, 21.18%, 0.25));
  background-clip: border-box;
}
.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 2.5vh;
}
.logo {
  display: block;
  height: 8vh;
  font-family: DM Sans;
  text-align: center;
}

#algaeorithm {
  color: black;
}

.palette {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 90vw;
  height: 80vh;
  background-color: hsla(0, 0.00%, 100.00%, 0.80);
  border-radius: 2vw;
  box-shadow: .1vw .1vw 1.5vw .1vw hsla(190.83333333333331, 66.67%, 21.18%, 0.48);
  text-align: center;
}

/* Input Info */

.instruction {
  padding-top: 2vh;
  font-family: DM Sans;
  font-size: 2vw;
  font-weight: 300;
  min-height: 6vh;
  text-align: center;
}
.upper {
  display: flex;
  min-height: 32vh;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}


.left {
  padding-left: 10vw;
  height: 12vh; 
}

.input-values {
  height: 10vh;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 3vw;
  background-color: hsla(208, 75.69%, 7.97%, 0.00);
  font-family: DM Sans;
  color: hsla(0, 0.00%, 20.00%, 1.00);
  font-size: 1.75vw;
  font-weight: 400;
  background-clip: border-box;
  object-fit: fill;
  text-align: center;
  flex-shrink: 1;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.input-values:hover {
  background-color: hsla(0, 0.00%, 20.00%, 1.00);
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.upload-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  cursor: pointer;
}
.right {
  display: flex;
  height: 12vh;
  padding-right: 10vw;
}
.url {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  height: 10vh;
}
.enter-url {
  display: block;
  width: 20vw;
}

.lower {
  display: flex;
  flex-grow: 5;
  min-height: 40vh;
  justify-content: space-between;
}

.previews {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 8;
  justify-content: center;
}

.preview {
  flex-shrink: 1;
  display: block;
  height: 15vh;
  border-radius: 30px;
  border: .5vh solid transparent;
  margin: 1vw 1% 1vw 1%;
  background-clip: border-box;
  object-fit: fill;
  cursor: pointer;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.preview:hover {
  border: .5vh solid red;
}

.analyze {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
}

.analyze-button {
  display: block;
  width: 5vw;
  height: 5vw;
  background-color: transparent;
  background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612712ec7bdc1350d425d696_analyze%20button.svg");
  background-position: 0px 0px;
  background-size: contain;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.analyze-button:hover {
  transform: translate(10%, 0px);
}

/* Stats Info */

.main-overview {
  display: flex;
  height: 80vh;
  width: 90vw;
  align-items: center;
}

.stats-title {
  height: 5vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  font-family: DM Sans;
  color: hsla(0, 0.00%, 20.00%, 1.00);
  font-style: normal;
  text-align: center;
  width: 45vw;
}

.stats-title {
  width: 45vw;
}

.stats-info {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 45vw;
  height: 25vh;
}

.graphs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: column nowrap;
  width: 80vw;
  height: 35vh;
}

.see-images, .see-overview {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 5vh;
}

.next-page, .show-overview {
  font-family: DM Sans;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counts, .concentrations {
  width: 45vw;
  height: 75vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.stats-section {
  display: flex;
  justify-content: space-around;
  height: 12.5vh;
  width: 45vw;
}

.stat-box {
  font-family: DM Sans;
  flex-shrink: 1;
  max-height: 10vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.graph {
  max-height: 35vh;
  max-width: 40vw;
  margin-top: 5vh;
}

.change-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.graph-button {
  font-family: DM Sans;
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Results Info */

.lab {
  display: flex;
  width: 90vw;
  height: 80vh;
  flex-wrap: nowrap;
}

.visual {
  height: 75vh;
  width: 90vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


.img-nav {
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 5vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.image-number {
  display: flex;
  align-items: center;
  height: 2vw;
  font-family: DM Sans;
  font-size: 2.5vh;
  text-align: center;
}

.last, .next, .invisible {
  display: flex;
  align-items: center;
  height: 2vw;
  width: 2vw;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 3vw;
  background-color: transparent;
  background-size: 2vw 2vw;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.next:hover {
  background-color: hsla(0, 0.00%, 20.00%, 1.00);
  background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612705f07bdc139887258b82_next%20button(white).svg");
  color: hsla(0, 0.00%, 20.00%, 1.00);
}

.last:hover {
  background-color: hsla(0, 0.00%, 20.00%, 1.00);
  background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612705f074747984bc0827ee_last%20button(white).svg");
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.last {
  margin-right: 2vw;
  background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612712ecf7057f1e84021b6d_last%20button.svg");
}

.next {
  margin-left: 2vw;
  background-image: url("https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/612712ec46bf877bc0d63dfe_next%20button.svg");
}

.invisible {
  margin-left: 1vw;
  margin-right: 1vw;
  cursor: default;
}

.algae {
  height: 50vh;
  flex-shrink: 1;
  max-width: 90vw;
}

.show-pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 50vw;
  flex-shrink: 1;
  font-size: 1.75vw;
}

.image-type {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: DM Sans;
  margin-left: 5vw;
  margin-right: 5vw;
  color: hsla(0, 100.00%, 0.00%, 1.00);
  font-size: 3vh;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

/* Loading Info */

.loading-top {
  display: flex;
  width: 90vw;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.loading-text {
  width: 20vw;
  height: 20vh;
  margin: 5vh 5vw;
  font-family: DM Sans;
  font-size: 5vh;
  text-align: center;
}

.loading-bottom {
  display: flex;
  width: 90vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.loading-image {
  max-height: 40vh;
  max-width: 20vw;
  margin: 5vh 5vw;
}