a, button {
  text-decoration: none;
  cursor: pointer;
}
.body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #124d5a, hsla(190.83333333333331, 66.67%, 21.18%, 0.25));
  background-clip: border-box;
}
.header {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 2vh;
  background-color: white;
}
.logo {
  display: block;
  height: 100%;
  font-family: DM Sans;
  font-size: 6vh;
  text-align: center;
}

#algaeorithm {
  color: black;
}

.palette {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: hsla(0, 0.00%, 100.00%, 0.80);
  border-radius: 2vw;
  box-shadow: .1vw .1vw 1.5vw .1vw hsla(190.83333333333331, 66.67%, 21.18%, 0.48);
  text-align: center;
}

.tab-nav {
  --overview: 0;
  --images: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  border-radius: 2.5vh;
  box-shadow: 0.1vw 0.1vw 1.5vw 0.1vw hsl(191deg 67% 21% / 48%);
  background-color: hsla(0, 0.00%, 100.00%, 0.80);
}

.tab, .selected-tab {
  position: relative;
  font-family: DM Sans;
  font-size: min(2vh, 30px);
  font-weight: 500;
  color: #333;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0 10px;
}

.tab::after, .selected-tab::after {
  content: "";
  position: absolute;
  background-color: #333;
  height: 0.3vh;
  left: 0;
  bottom: -1vh;
  transition: 300ms;
}

.tab::after {
  width: 0px;
}

.tab:hover::after, .selected-tab::after {
  width: 100%;
}


.see-images, .see-overview {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 5%;
}

.next-page, .show-overview {
  font-family: DM Sans;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.margin-five {
  margin: 0 2.5%;
}

::-webkit-scrollbar {
  display: none;
}