<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/logos/favicon.ico">
</head>
<body>
    <body class="body">
        <div class="header">
            <a href="/" id="algaeorithm" class="logo"></a>
            <a href="/about" id="about"><h1 class="page-name">about</h1></a>
            <input type="checkbox" class="nav-toggle" id="nav-toggle">
            <label for="nav-toggle" class="nav-toggle-label">
            </label>
            <nav>
                <ul class="primary-nav">
                    <li><a href="/">home</a></li>
                    <li><a href="/content">content</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/press">press</a></li>
                    <h5><a class="nav-info" href="mailto:info@algaeorithm.com" target="_blank">info@algaeorithm.com</a><br><a class="nav-info" href="https://www.youtube.com/channel/UCtPHghFQx5i-as_V9ly1dxQ" target="_blank">YOUTUBE</a><br><br>© 2022 Algaeorithm<br>images by James Weiss, BLOOM Bioeconomy & Cefic<br>created by Ashwin Mukherjee & Rohan Chanani</h5>
                </ul>
            </nav>
        </div>
        <div id="inputInfo" class="palette page">
            <div class="about">
                <img src="https://cefic.org/app/uploads/2021/05/ChemistryCan-GoingClimate-Neutral-800x450-1.gif" alt="" class="illustration">
                <h1>Algaeorithm is accelerating<br>the transition to a<br>bioeconomy</h1>
            </div>
            <h1>Our Approach</h1>
            <h4 class="approach">
                The challenge of shifting the US to a bio-based economy is a generational problem. The catalyst for this movement will be the next generation of students, who can turn promises of a green future full of sustainable biopower, biofuels, and other bioproducts into their reality. Using a machine-learning-based web application and a diverse offering of educational content, Algaeorithm aims to support this movement by engaging current high school students in the world of bioenergy.
            </h4>
            <h1>Team</h1>
            <div class="about">
                <a href="https://www.linkedin.com/in/ashwinmukherjee/" class="profile" target="_blank">
                    <img src="/static/logos/ashwin_profile.jpg" class="profile-pic" alt="">
                    Ashwin Mukherjee
                </a>
                <a href="https://www.linkedin.com/in/rohan-chanani-668a691bb/" class="profile" target="_blank">
                    <img src="/static/logos/rohan_profile.jpg" class="profile-pic" alt="">
                    Rohan Chanani
                </a>
                <a href="https://www.linkedin.com/in/jacob-valenzuela-199a0916/" class="profile" target="_blank">
                    <img src="/static/logos/jake_profile.jpg" class="profile-pic" alt="">
                    Jake Valenzuela, PhD
                </a>
            </div>
            <div class="dark">
                <div class="about">
                    <h1 class="white">Funded By</h1>
                    <hr style="width:100%;text-align:left;margin-left:0">
                    <a href="https://isbscience.org/">
                        <img src="/static/logos/ISBB&W.png" class="partner" alt="">
                    </a>
                    <a href="https://www.svcleanenergy.org/">
                        <img src="/static/logos/SVCEB&W.png" class="partner" alt="">
                    </a>
                    <a href="https://www.energy.gov/eere/bioenergy/bioenergy-technologies-office">
                        <img src="/static/logos/DOEB&W.png" class="partner" alt="">
                    </a>
                    <a href="https://www.nrel.gov/">
                        <img src="/static/logos/NRELB&W.png" class="partner" alt="">
                    </a>
                    <a href="https://thealgaefoundation.org/">
                        <img src="/static/logos/algaefoundationB&W.png" class="partner" alt="">
                    </a>
                </div></div>
        </div>
    </body>
    <script src="static/script.js"></script>
</body>
</html>