<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algaeorithm</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <body class="body">
        <div class="header">
            <h1 class="logo">Algaeorithm</h1>
        </div>
        <div class="palette">
            <div class="lab">
                <div class="visual">
                    <div class="img-nav">
                        <a href="#" class="last"></a>
                        <div class="image-number">1 of 3</div>
                        <a href="#" class="next"></a>
                    </div>
                    <img src="https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/611db6a6c0a8b01cdbfca753_chlamydomonas_montage_2.jpg" class="algae"/>
                    <a href="#" class="image-type">show original</a>
                    <a href="#" class="image-type">show circles</a>
                </div>
                <div class="info">
                    <div class="we-found">We found 17 cells</div>
                </div>
            </div>
        </div>
    </body>
    <script src="main.js"></script>
</body>
</html>