<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Algaeorithm</title>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="shortcut icon" href="/static/logos/favicon.ico">
    </head>
    <body class="body">    
        <div class="header">
            <a href="/" id="algaeorithm" class="logo"></a>
            <a href="/" id="home"><h1 class="page-name">algaeorithm</h1></a>
            <input type="checkbox" class="nav-toggle" id="nav-toggle">
            <label for="nav-toggle" class="nav-toggle-label">
            </label>
            <nav>
                <ul class="primary-nav">
                    <li><a href="/">home</a></li>
                    <li><a href="https://www.youtube.com/@algaeorithm301" target="_blank">content</a></li>
                    <li><a href="https://www.protocols.io/workspaces/algaeorithm" target="_blank">protocols</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/press">press</a></li>
                    <h5>© 2023 Algaeorithm<br>images by James Weiss, BLOOM Bioeconomy, and Dr. Michael Lomas<br>created by Ashwin Mukherjee & Rohan Chanani</h5>
                </ul>
            </nav>
        </div>
        <div id="inputInfo" class="palette">
            <div class="lab">
                <div class="photos">
                    <div id="previews" class="previews">
                        <label for="staging" class="add-photo"></label>
                        <input id="staging" type="file" class="hidden" accept="image/png, image/jpeg" multiple>
                        <div id="sample-preview" class="hidden">
                            <div class="hidden"></div>
                            <div class="hidden">
                                <input type="text" autocomplete="off" placeholder="time" class="hidden">
                                <input type="text" autocomplete="off" placeholder="depth" class="hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settings">
                    <!--<div class="setting">
                        <h2 class="setting-name">algae type</h2>
                        <div class="types">
                            <label for="clear" class="photo-type-label" onclick="changeImageType('clear')">
                                <input type="radio" name="image-type" value="clear" id="clear" class="hidden" checked>
                                <img id="img-clear" src="static/logos/chlamy_square.jpg" class="photo-type selected-photo-type"/>
                            </label>
                            <label for="hemocytometer" class="photo-type-label" onclick="changeImageType('hemocytometer')">
                                <input type="radio" name="image-type" value="hemocytometer" id="hemocytometer" class="hidden">
                                <img src="static/logos/tricornutum_square.jpg" class="photo-type" id="img-hemocytometer"/>
                            </label>
                            <label for="chlorella" class="photo-type-label" onclick="changeImageType('chlorella')">
                                <input type="radio" name="image-type" value="chlorella" id="chlorella" class="hidden">
                                <img src="static/logos/chlorella_square.jpg" class="photo-type" id="img-chlorella"/>
                            </label>
                        </div>
                    </div>
                -->
                    <div class="setting">
                        <h2 class="setting-name">algae type</h2>
                        <label id="img-clear" for="clear" class="selected-photo-type photo-type-label row" onclick="changeImageType('clear')">
                            Chlamydomonas
                            <input type="radio" name="image-type" id="clear" class="hidden" checked>
                        </label>
                        <label id="img-hemocytometer" for="hemocytometer" class="photo-type-label row" onclick="changeImageType('hemocytometer')">
                            Phaeodactylum
                            <input type="radio" name="image-type" id="hemocytometer" class="hidden">
                        </label>
                        <label id="img-chlorella" for="chlorella" class="photo-type-label row" onclick="changeImageType('chlorella')">
                            Chlorella
                            <input type="radio" name="image-type" id="chlorella" class="hidden">
                        </label>
                    </div>
                    <div class="setting">
                        <h2 id="depth-heading" class="setting-name">depth</h2>
                        <div class="row">
                            <label for="consistent" class="settings-label" onclick="checkRadio('consistent')">
                                <input type="radio" name="depth-sensitive" value="consistent" id="consistent" checked>
                                <div class="radio"></div>
                                consistent:
                            </label>
                            <label for="all-depth" class="settings-label" id="all-depth-label"><input type="number" id="all-depth" class="settings-input" autocomplete="off" value="0.1">mm</label>
                        </div>
                        <div class="row">
                            <label for="varied" class="settings-label" onclick="checkRadio('varied')">
                                <input type="radio" name="depth-sensitive" value="varied" id="varied">
                                <div class="radio"></div>
                                varied
                            </label>                            
                            <label for="default-depth" class="hidden" id="default-label">
                            <input type="number" id="default-depth" class="settings-input" autocomplete="off" value="0.1">
                            mm | default</label>
                        </div>
                    </div>
                    <div class="setting">
                        <div class="row title">
                            <h2 id="time-heading" class="setting-name">time</h2>
                            <label for="time-sensitive" class="switch" onclick="checkBox('time-sensitive')">
                                <input type="checkbox" id="time-sensitive" class="switch_input">
                                <div class="switch_fill"></div>
                            </label>
                        </div>
                        <div class="hidden" id="time-setting">
                            <div class="row">
                                <label for="time-unit" class="settings-label">units:</label>
                                <input type="text" id="time-unit" class="settings-input" autocomplete="off" value="days">
                            </div>
                            <div class="row">
                                <label for="time-interval" class="settings-label">interval:</label>
                                <label for="time-interval" class="hidden" id="interval-label"><input type="number" id="time-interval" class="settings-input" autocomplete="off" value="1"> days</label>
                                <label for="interval" class="switch">
                                    <input type="checkbox" id="interval" class="switch_input">
                                    <div class="switch_fill"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="analyze-button" class="hidden" onclick="loadInformation()">analyze images</div>
        <div id="loader-wrapper" class="hidden">
            <div class="loading-box">
                <div id="loader"></div>
                <a onclick="cancelRequest()" class="cancel-button">cancel</a>
            </div>
        </div>
        <div id="table" class="hidden">
               <table class="csv-table" id="csv-table"></table>
               <a download="algaeorithm_data.csv" id="download-csv" class="download-csv">download table</a>
        </div>
        <div id="overview" class="hidden">
            <div class="stat-units">
                <span class="count-concentration">
                    <input type="checkbox" id="switcher">
                    <label for="switcher"></label>
                </span>
            </div>
            <div id="counts-overview" class="main-overview">
                <div class="stat-summary">
                    <h3 class="stat-header">summary<br>count</h3>
                    <div class="stat-container">
                        <div class="stat-block">
                            <h2 id="counts-mean" class="stat"></h2>
                            <h3 class="stat-label">Mean</h3>
                        </div>
                        <div class="stat-block">
                            <h2 id="counts-range" class="stat"></h2>
                            <h3 class="stat-label">Range</h3>
                        </div>
                        <div class="stat-block">
                            <h2 id="counts-stddev" class="stat"></h2>
                            <h3 class="stat-label">Standard Deviation</h3>
                        </div>
                        <div class="stat-block">
                            <h2 id="counts-median" class="stat"></h2>
                            <h3 class="stat-label">Median</h3>
                        </div>
                        <div class="stat-block">
                            <h2 id="counts-iqr" class="stat"></h2>
                            <h3 class="stat-label">Interquartile Range</h3>
                        </div>
                    </div>
                    <h3 class="stat-header ghost">f<br>f</h3>
                </div>
                <div class="stat-graphs">
                    <h3 class="stat-header">graphs</h3>
                    <div class="stat-container">
                        <img id="counts-graph" class="graph"/>
                        <div id="counts-change" class="graph-options">
                            <a class="download-photo ghost"></a>
                            <a id="counts-graph-download" class="download-photo"></a>
                        </div>
                    </div>
                    <h3 class="stat-header ghost"></h3>
                </div>
            </div>
            <div id="concentrations-overview" class="hidden">
                <div class="stat-summary">
                    <h3 class="stat-header">summary<br>(cells/mL)</h3>
                    <div class="stat-container">
                        <div class="stat-block">
                            <h2 id="concentrations-mean" class="stat"></h2>
                            <h3 class="stat-label">Mean</h3>
                        </div>
                        <div class="stat-block">
                            <h2 id="concentrations-range" class="stat"></h2>
                            <h3 class="stat-label">Range</h3>
                        </div>
                        <div class="stat-block">
                            <h2 id="concentrations-stddev" class="stat"></h2>
                            <h3 class="stat-label">Standard Deviation</h3>
                        </div>
                        <div class="stat-block">
                            <h2 id="concentrations-median" class="stat"></h2>
                            <h3 class="stat-label">Median</h3>
                        </div>
                        <div class="stat-block">
                            <h2 id="concentrations-iqr" class="stat"></h2>
                            <h3 class="stat-label">Interquartile Range</h3>
                        </div>
                    </div>
                    <h3 class="stat-header ghost">f<br>f</h3>
                </div>
                <div class="stat-graphs">
                    <h3 class="stat-header">graphs</h3>
                    <div class="stat-container">
                        <img id="concentrations-graph" class="graph"/>
                        <div id="concentrations-change" class="graph-options">
                            <a class="download-photo ghost"></a>
                            <a id="concentrations-graph-download" class="download-photo"></a>
                        </div>
                    </div>
                    <h3 class="stat-header ghost"></h3>
                </div>
            </div>
        </div>
        <div id="resultsInfo" class="hidden">
            <div class="lab">
                <div id="visual" class="visual">
                    <div class="img-nav" id="img-nav">
                        <a id="lastImage" class="invisible"></a>
                        <div id="image-number" class="image-number"></div>
                        <a id="nextImage" class="invisible"></a>
                    </div> 
                    <div class="image-container">
                        <img id="resultsImage" class="algae">
                        <a id="download-link" class="hidden"></a>
                    </div>
                    <div id="show-pictures" class="show-pictures"></div>
                </div>
                <div class="info">
                    <h2 id="resultsCount" class="we-found"></h2>
                    <h2 id="resultsConcentration" class="we-found"></h2>
                </div>
            </div>
        </div>
        <div id="tab-nav" class="hidden">
            <a onclick="setTable()" id="show-table" class="tab">data table</a><a onclick="setOverview()" id="show-overview" class="tab">statistical overview</a><a onclick="displayImage(0, 'output')" id="show-images" class="tab">image analysis</a>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="static/script.js"></script>
    </body>
</html>