<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/logos/favicon.ico">
</head>
<body>
    <body class="body">
        <div class="header">
            <a href="/" id="algaeorithm" class="logo"></a>
            <a href="/content" id="content"><h1 class="page-name">content</h1></a>
            <input type="checkbox" class="nav-toggle" id="nav-toggle">
            <label for="nav-toggle" class="nav-toggle-label">
            </label>
            <nav>
                <ul class="primary-nav">
                    <li><a href="/">home</a></li>
                    <li><a href="/content">content</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/press">press</a></li>
                    <h5><a class="nav-info" href="mailto:info@algaeorithm.com" target="_blank">info@algaeorithm.com</a><br><a class="nav-info" href="https://www.youtube.com/channel/UCtPHghFQx5i-as_V9ly1dxQ" target="_blank">YOUTUBE</a><br><br>© 2022 Algaeorithm<br>images by James Weiss, BLOOM Bioeconomy & Cefic<br>created by Ashwin Mukherjee & Rohan Chanani</h5>
                </ul>
            </nav>
        </div>
        <div id="inputInfo" class="palette page">
            <a href="https://youtu.be/GntNavdOCOA" class="content" target="_blank">
                <div class="thumbnail-container"><img src="\static\logos\tutorial_thumbnail.webp" class="thumbnail" alt=""></div>
                <h2 class="video-title">Algaeorithm Tutorial</h2>
                <h4 class="date">Feb 27, 2022</h4>
            </a>
            <a href="https://youtu.be/zuoPhCrjUig" class="content" target="_blank">
                <div class="thumbnail-container"><img src="\static\logos\cac_thumbnail.webp" class="thumbnail" alt=""></div>
                <h2 class="video-title">2021 Congressional App Challenge</h2>
                <h4 class="date">Oct 31, 2021</h4>
            </a>
            <a href="https://youtu.be/W38QYz4oyMU" class="content" target="_blank">
                <div class="thumbnail-container"><img src="https://i.ytimg.com/vi/W38QYz4oyMU/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAjHLdI9xhjyh3D3zc-U6S4N2hMDA" class="thumbnail" alt=""></div>
                <h2 class="video-title">Big data and its applications</h2>
                <h4 class="date">Sep 28, 2021</h4>
            </a>
        </div>
    </body>
    <script src="static/script.js"></script>
</body>
</html>