<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Algaeorithm</title>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/decision.css">
        <link rel="stylesheet" href="static/input.css">
        <link rel="stylesheet" href="static/results.css">
        <link rel="stylesheet" href="static/loading.css">
        <link rel="stylesheet" href="static/stats.css">
        <link rel="stylesheet" href="static/table.css">
        <link rel="stylesheet" href="static/misc.css">
    </head>
    <body id="body" class="body vsc-initialized">    
        <div class="header">
            <a href="/" id="algaeorithm"><h1 class="logo">Algaeorithm</h1></a>
        </div>
        <div id="decision" class="palette">
            <h1 class="algae-question">What do your images look like? (Click One)</h1>
            <div class="options">
                <img class="decision-image" src="static/darkmicroscope.jpg" onclick="makeDecision(0)">
                <img class="decision-image" src="static/lightmicroscope.jpg" onclick="makeDecision(2)">
            </div>
        </div>
        <div id="inputInfo" class="hidden">
            <div id="top-instruction" class="top-instruction">
                <div id="initially-visible" class="initially-visible">
                    <h1 class="instruction">To begin, choose an option below</h1>
                    <a onclick="changeAdvanced()" id="advanced-options" class="advanced-options">Advanced</a>
                </div>
                <div id="advanced-input" class="hidden">
                    <div class="advanced-box">
                        <div class="inner-advanced-box">
                            <input id="time-sensitive" type="checkbox">
                            <label for="time-sensitive" class="advanced-label">Are your images time sensitive?</label>
                        </div>
                        <div id="time-unit-box" class="invisible margin-five">
                            <label for="time-unit" class="advanced-label">Unit: </label>
                            <input type="text" id="time-unit" autocomplete="off" value="days" class="optional-time-input">
                        </div>
                    </div>
                    <div class="advanced-box">
                        <div class="inner-advanced-box">
                            <input id="depth-sensitive" type="checkbox" checked="">
                            <label for="depth-sensitive" class="advanced-label">Do your images all have the same depth?</label>
                        </div>
                        <div id="all-depth-box" class="inner-advanced-box">
                            <label for="all-depth" class="advanced-label">Depth: </label>
                            <input type="text" id="all-depth" class="optional-depth-input" autocomplete="off" value="0.1">
                            <label for="all-depth" class="advanced-label">mm</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="upper" class="upper" style="margin-bottom: 20vh;">
                <div class="left">
                    <label for="staging" class="upload-photo input-values">upload a photo</label>
                    <input id="staging" type="file" class="hidden" accept="image/png, image/jpeg" multiple="">
                </div>
                <div class="right">
                    <input type="text" autocomplete="off" maxlength="256" name="url" data-name="url" placeholder="enter a url" id="urlInput" class="enter-url input-values">
                </div>
            </div>
            <div id="lower" class="hidden">
                <div class="left-margin"></div>
                <div class="previews" id="previews">
                    <div id="sample-preview" class="hidden">
                        <div class="hidden">
                            <label class="hidden"><input type="text" autocomplete="off" class="preview-input"></label>
                            <label class="hidden"><input type="text" autocomplete="off" class="preview-input"> mm</label>
                        </div>
                    </div>
                </div>
                <div id="analyze-button" class="analyze">
                    <img src="static/analyze button.svg" id="analyze-link" onclick="loadInformation()" class="analyze-button">
                </div>
            </div>
        </div>
        <div id="loader-wrapper" class="hidden">
            <div class="loading-box">
                <div class="loading-text">Processing images...</div>
                <div id="loader"></div>
                <a onclick="cancelRequest()" class="cancel-button">Cancel</a>
            </div>
        </div>
        <div id="table" class="hidden">
               <table class="csv-table" id="csv-table"></table>
               <a download="algaeorithm_data.csv" id="download-csv" class="download-csv">download table</a>
        </div>
        <div id="overview" class="hidden">
            <div class="top">
                <div class="counts">
                    <div class="stats-title">Cell Count (# of cells)</div>
                    <div id="counts-stats" class="stats-info"></div>    
                </div>          
                <div class="concentrations">
                    <div class="stats-title">Cell Concentration (cells / mL)</div>
                    <div id="concentrations-stats" class="stats-info"></div>    
                </div>
            </div>
            <div class="bottom">
                <div id="counts-graphs" class="graphs">
                    <img id="counts-graph" class="graph">
                    <div id="counts-change" class="change-graph"></div>
                </div>
                <div id="concentrations-graphs" class="graphs">
                    <img id="concentrations-graph" class="graph">
                    <div id="concentrations-change" class="change-graph"></div>
                  </div>
            </div>
        </div>
        <div id="resultsInfo" class="hidden">
            <div class="lab">
                <div id="visual" class="visual">
                    <div class="img-nav" id="img-nav">
                        <a id="lastImage" class="invisible"></a>
                        <div id="image-number" class="image-number"></div>
                        <a id="nextImage" class="invisible"></a>
                    </div> 
                    <div class="image-container">
                        <img id="resultsImage" class="algae" onclick="clickDownload()">
                        <a id="download-link" class="hidden"></a>
                    </div>
                    <div id="show-pictures" class="show-pictures"></div>
                </div>
                <div class="info">
                    <h2 id="resultsCount" class="we-found"></h2>
                    <h2 id="resultsConcentration" class="we-found"></h2>
                </div>
            </div>
        </div>
        <div id="tab-nav" class="hidden">
            <a onclick="setTable()" id="show-table" class="tab">data table</a><a onclick="setOverview()" id="show-overview" class="tab">statistical overview</a><a onclick="displayImage(0, 'Outlines')" id="show-images" class="tab">image analysis</a>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="static/script.js"></script>
    </body>
</html>

