<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algaeorithm</title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <body class="body">
        <div class="header">
            <h1 class="logo">Algaeorithm</h1>
        </div>
        <div id="inputInfo" class="palette">
            <h1 class="instruction">To begin, choose an option below</h1>
            <div class="upper">
                <div class="left">
                    <label for="staging" class="upload-photo">upload a photo</label>
                    <input id="staging" type="file" class="hidden" accept="image/png, image/jpeg" multiple>
                </div>
                <div class="right">
                    <div class="form url">
                            <input type="text" maxlength="256" name="url" data-name="url" placeholder="enter a url" id="urlInput" class="enter-url"/>
                            <button type="button" onclick="addURL()" data-wait="verifying image..." class="add-url">add</button>
                    </div>
                </div>
            </div>
            <div class="lower">
                <div class="left-margin">
                </div>
                <div class="previews" id="previews">
                </div>
                <div class="analyze">
                    <a onclick="loadInformation()" class="analyze-button"></a>
                </div>
            </div>
        </div>
        <div id="resultsInfo" class="hidden">
            <div class="lab">
                <div id="visual" class="visual">
                    <img id="resultsImage" class="algae"/>
                    <div class="hidden" id="img-nav">
                        <a id="lastImage" class="hidden"></a>
                        <div id="image-number" class="image-number"></div>
                        <a id="nextImage" class="hidden"></a>
                    </div>
                </div>
                <div class="info">
                    <div id="resultsCount" class="we-found"></div>
                </div>
            </div> 
        </div>
    </body>
    <script src="static/script.js"></script>
</body>
</html>