<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algaeorithm</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <body class="body">
        <div class="header">
            <h1 class="logo">Algaeorithm</h1>
        </div>
        <div class="palette">
            <h1 class="instruction">To begin, choose an option below</h1>
            <div class="upper">
                <div class="left">
                    <a href="#" class="upload-photo">upload a photo</a>
                </div>
                <div class="right">
                    <div class="form">
                        <form id="image-form" name="image-form" data-name="Image Form" method="get" class="url">
                            <input type="text" maxlength="256" name="url" data-name="url" placeholder="enter a url" id="url" class="enter-url"/>
                            <input type="submit" value="add" data-wait="verifying image..." class="add-url"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="lower">
                <div class="left-margin">
                </div>
                <div class="previews">
                    <img src="https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/6125b79985cd99d275c98ecc_chlamydomonas-dicmicroscope.jpg" class="preview"/>
                    <img src="https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/6125b79924d36f3d3eab5cee_Chlamydomonas-reinhardtii%20(1).jpg"  class="preview"/>
                    <img src="https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/6125b79924d36f3d3eab5cee_Chlamydomonas-reinhardtii%20(1).jpg"  class="preview"/>
                    <img src="https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/6125b79924d36f3d3eab5cee_Chlamydomonas-reinhardtii%20(1).jpg"  class="preview"/>
                    <img src="https://uploads-ssl.webflow.com/611968865cc3c3243e59ac45/6125b79924d36f3d3eab5cee_Chlamydomonas-reinhardtii%20(1).jpg"  class="preview"/>
                </div>
                <div class="analyze">
                    <a href='analyzed.html' class="analyze-button"></a>
                </div>
            </div>
        </div>
    </body>
    <script src="main.js"></script>
</body>
</html>