<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algaeorithm</title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/test.css">
</head>
<body>
    <body class="body">
        <div class="header">
            <h1 class="logo">Algaeorithm</h1>
        </div>
        <div id="inputInfo" class="palette">
            <div class="instruction">
                <h1>To begin, choose an option below</h1>
            </div>
            <div class="upper">
                <div class="left">
                    <label for="staging" class="upload-photo input-values">upload a photo</label>
                    <input id="staging" type="file" class="hidden" accept="image/png, image/jpeg" multiple>
                </div>
                <div class="right">
                    <div class="form url">
                            <input type="text" maxlength="256" name="url" data-name="url" placeholder="enter a url" id="urlInput" class="enter-url input-values"/>
                    </div>
                </div>
            </div>
            <div class="lower">
                <div class="previews" id="previews">
                </div>
                <div class="analyze">
                    <a onclick="loadInformation()" class="analyze-button"></a>
                </div>
            </div>
        </div>
        <div id="overview" class="hidden">
            <div id="main-overview" class="main-overview">
                <div id="counts" class="counts">
                    <div class="stats-title">Cell Count Information</div>
                    <div id="counts-stats" class="stats-info">
                    </div>
                    <div id="counts-graphs" class="graphs">
                        <img id="counts-graph" class="graph">
                        <div id="counts-change" class="change-graph"></div>
                    </div>
                </div>
                <div id="concentrations" class="concentrations">
                    <div class="stats-title">Cell Concentration Information</div>
                    <div id="concentrations-stats" class="stats-info">
                    </div>
                    <div id="concentrations-graphs" class="graphs">
                      <img id="concentrations-graph" class="graph">
                      <div id="concentrations-change" class="change-graph"></div>
                    </div>
                </div>
            </div>
            <div id="see-images" class="see-images">
                <a class="next-page" onclick="displayImage(0, 'Image')">View your images</a>
            </div>
        </div>
        <div id="resultsInfo" class="hidden">
            <div id="visual" class="visual">
                <div id="resultsCount" class="results-heading"></div> 
                <img id="resultsImage" class="algae"/>
                <div id="show-pictures" class="show-pictures"></div>
                <div class="hidden" id="img-nav">
                    <a id="lastImage" class="hidden"></a>
                    <div id="image-number" class="image-number"></div>
                    <a id="nextImage" class="hidden"></a>
                </div>
            </div>
            <div id="see-overview" class="see-overview">
                <a class="show-overview" onclick="setOverview()">View overview</a>
            </div>
        </div>
    </body>
    <script src="static/script.js"></script>
</body>
</html>