<div id="overview" class="palette">
    <div class="stat-units">
        <span class="count-concentration">
            <input type="checkbox" id="switcher">
            <label for="switcher"></label>
        </span>
    </div>
    <div id="counts-overview" class="main-overview">
        <div class="stat-summary">
            <h3 class="stat-header">summary<br>(cells/mL)</h3>
            <div class="stat-container">
                <div class="stat-block">
                    <h2 id="counts-mean" class="stat"></h2>
                    <h3 class="stat-label">Mean</h3>
                </div>
                <div class="stat-block">
                    <h2 id="counts-range" class="stat"></h2>
                    <h3 class="stat-label">Range</h3>
                </div>
                <div class="stat-block">
                    <h2 id="counts-stddev" class="stat"></h2>
                    <h3 class="stat-label">Standard Deviation</h3>
                </div>
                <div class="stat-block">
                    <h2 id="counts-median" class="stat"></h2>
                    <h3 class="stat-label">Median</h3>
                </div>
                <div class="stat-block">
                    <h2 id="counts-iqr" class="stat"></h2>
                    <h3 class="stat-label">Interquartile Range</h3>
                </div>
            </div>
            <h3 class="stat-header ghost">f<br>f</h3>
        </div>
        <div class="stat-graphs">
            <h3 class="stat-header">graphs</h3>
            <div class="stat-container">
                <img id="counts-graph" class="graph"/>
                <div id="counts-change" class="graph-options">
                    <a class="download-photo ghost"></a>
                    <a id="counts-graph-download" class="download-photo"></a>
                </div>
            </div>
            <h3 class="stat-header ghost"></h3>
        </div>
    </div>
    <div id="concentrations-overview" class="main-overview hidden">
        <div class="stat-summary">
            <h3 class="stat-header">summary<br>(cells/mL)</h3>
            <div class="stat-container">
                <div class="stat-block">
                    <h2 id="concentrations-mean" class="stat"></h2>
                    <h3 class="stat-label">Mean</h3>
                </div>
                <div class="stat-block">
                    <h2 id="concentrations-range" class="stat"></h2>
                    <h3 class="stat-label">Range</h3>
                </div>
                <div class="stat-block">
                    <h2 id="concentrations-stddev" class="stat"></h2>
                    <h3 class="stat-label">Standard Deviation</h3>
                </div>
                <div class="stat-block">
                    <h2 id="concentrations-median" class="stat"></h2>
                    <h3 class="stat-label">Median</h3>
                </div>
                <div class="stat-block">
                    <h2 id="concentrations-iqr" class="stat"></h2>
                    <h3 class="stat-label">Interquartile Range</h3>
                </div>
            </div>
            <h3 class="stat-header ghost">f<br>f</h3>
        </div>
        <div class="stat-graphs">
            <h3 class="stat-header">graphs</h3>
            <div class="stat-container">
                <img id="concentrations-graph" class="graph"/>
                <div id="concentrations-change" class="graph-options">
                    <a class="download-photo ghost"></a>
                    <a id="concentrations-graph-download" class="download-photo"></a>
                </div>
            </div>
            <h3 class="stat-header ghost"></h3>
        </div>
    </div>
</div>