<!DOCTYPE html>
<html>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input name="file" type="file">
        <button type="button" onclick="testFile()">Send File<img src="</button>
    </form>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script>
        const testFile = () => {
            let htmlForm = document.querySelector("form");
            let fileForm = new FormData(htmlForm);
            let request = new XMLHttpRequest();
            request.onreadystatechange = function() {
                if (request.readyState == 4) {
                    image = document.createElement("img");
                    image.setAttribute("src", "data:image/jpeg;base64,"+request.response);
                    document.querySelector("html").appendChild(image);
                }
            }
            request.open("POST", "/");
            request.send(fileForm);
        }
    </script>
</html>